$bgGreen: #80bd01;
$bgGrey: #e1e1e1;

// 响应式布局，响应宽度
$action-width: 825px;


// 醒目的标题
@mixin main-title {
  font-size: 20px;
  font-weight: bold;
}

$notice-font-size: 16px;
$normal-font-size: 14px;
$small-font-size: 12px;

// 好看的输入框
@mixin good-input {
  // 来源于create组件，记得重构
    height: 30px;
    border: 1px solid $bgGrey;
    border-radius: 5px;
    padding-left: 8px;
    transition: box-shadow 0.25s ease;
    &:hover{
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
    input{
      border: none;
      outline: none;
      line-height: 30px;
      width: 100%;
      background: none;
    }
  }
  
// 好看的按钮
@mixin basic-button{
    color: #fff;
    font-size: 16px;
    background-color: $bgGreen;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover{
      background-color: lighten($bgGreen, 5%);
    }
  }
// 灰暗的按钮
@mixin dark-button{
    color: #fff;
    font-size: 16px;
    background-color: #888;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover{
      background-color: lighten(#888, 10%);
    }
  }
  
// span的tag
@mixin tag-box{
  font-size: 14px;
  background: #80bd01;
  color: #fff;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
}