$bgGreen: #80bd01;
$bgGrey: #e1e1e1;

// 醒目的标题
@mixin main-title {
  font-size: 20px;
  font-weight: bold;
}

@mixin clearfix {
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

$notice-font-size: 16px;
$normal-font-size: 14px;
$small-font-size: 12px;

// 好看的输入框
@mixin good-input {
  // 来源于create组件，记得重构
    margin-top: 10px;
    height: 30px;
    border: 1px solid $bgGrey;
    border-radius: 5px;
    padding-left: 8px;
    transition: box-shadow 0.25s ease;
    &:hover{
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }
    input{
      border: none;
      outline: none;
      line-height: 30px;
      width: 100%;
      background: none;
    }
  }
  
// 好看的按钮
@mixin basic-button{
    color: #fff;
    font-size: 16px;
    background-color: $bgGreen;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover{
      background-color: lighten($bgGreen, 5%);
    }
  }